.app {
  text-align: center;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.count-button {
  margin: 1rem;
  background-color: rgb(135, 135, 222);
  border-radius: 0.1rem;
}

.count-button:hover {
  background-color: rgb(50, 161, 205);
}


.reorder-button {
  animation-name: fadeIn;
  animation-duration: 3s;
  color: rgb(186, 49, 51);
  background-color: rgb(130, 210, 213);
  margin: 1rem;
}

.reorder-button:hover {
  background-color: rgb(192, 96, 27);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}
